@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

@media (max-width: 991.98px) {
  .search-form {
    margin-bottom: 18px;
  }
}
