@import "../../../assets/variables";

.new-item {
  background-color: $black-color;
  overflow: hidden;
  transition: box-shadow 0.5s;
  img {
    height: 230px;
    object-fit: cover;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s;
    }
  }
  .title {
    height: 100px;
    a {
      color: $white-color;
    }
  }
  .time {
    color: $white-color;
  }
  &:hover {
    box-shadow: $box-shadow;
    transition: box-shadow 0.5s;
  }
}
